.todo-item {
    flex: 0;
    min-height: 10vw;
    min-width: 10vh;
    padding: 1em;
}

/* Apply this style to todo list container */
.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 1em;
}

.todo-heading {
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 0.3em;
}